<a href="https://colab.research.google.com/github/umasenorj/DSA-project/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import files
uploaded = files.upload()

KeyboardInterrupt: ignored

In [5]:
import pandas as pd 
import numpy as np 
data = pd.read_csv("planets.csv") 
planet_data = data.dropna(axis = 0, how ='any')   
planet_data

FileNotFoundError: ignored

In [ ]:
#Filter and show only those rows which have planets that are found in the 2010s and method is 'Radial Velocity' or 'Transit' and distance is large (> 75 percentile). 
umpy as np
import pandas as pd
data = pd.read_csv("planets.csv")
planet_data = data.dropna(axis = 0, how = "any")
A = planet_data.loc[(planet_data.distance >70)& (planet_data.year == 2010) & ((planet_data.method == 'Radial Velocity') | (planet_data.method == 'Transit')) ]
A

              method  number  orbital_period  mass  distance  year
9    Radial Velocity       2         452.800  1.99     74.79  2010
10   Radial Velocity       2         883.000  0.86     74.79  2010
166  Radial Velocity       2        5584.000  3.40     90.00  2010
415  Radial Velocity       1           6.495  0.96    121.07  2010
483  Radial Velocity       1         176.300  2.90    126.10  2010
627  Radial Velocity       1          16.200  1.25    223.21  2010

In [ ]:
data = pd.read_csv('planets.csv')
data.head(5)

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
data

     method  number  orbital_period   mass  distance  year
0        RV       1      269.300000   7.10     77.40  2006
1        RV       1      874.774000   2.21     56.95  2008
2        RV       1      763.000000   2.60     19.84  2011
3        RV       1      326.030000  19.40    110.62  2007
4        RV       1      516.220000  10.50    119.47  2009
...     ...     ...             ...    ...       ...   ...
1030      T       1        3.941507    NaN    172.00  2006
1031      T       1        2.615864    NaN    148.00  2007
1032      T       1        3.191524    NaN    174.00  2007
1033      T       1        4.125083    NaN    293.00  2008
1034      T       1        4.187757    NaN    260.00  2008

[1035 rows x 6 columns]

In [ ]:
# Modify the "method" column to have only the abbreviation of each method 
data = pd.read_csv("planets.csv")
data.replace('Radial Velocity', 'RV', inplace=True)
data.replace('Transit', 'T', inplace=True)
data.head()

  method  number  orbital_period   mass  distance  year
0     RV       1         269.300   7.10     77.40  2006
1     RV       1         874.774   2.21     56.95  2008
2     RV       1         763.000   2.60     19.84  2011
3     RV       1         326.030  19.40    110.62  2007
4     RV       1         516.220  10.50    119.47  2009

In [ ]:
# Count the number of planets discovered for each method type
count = data['method'].value_counts()
print(count)

RV                               553
T                                397
Imaging                           38
Microlensing                      23
Eclipse Timing Variations          9
Pulsar Timing                      5
Transit Timing Variations          4
Orbital Brightness Modulation      3
Astrometry                         2
Pulsation Timing Variations        1
Name: method, dtype: int64

In [ ]:
data[data['method'] == 'T']

     method  number  orbital_period  mass  distance  year
91        T       1        1.508956   NaN       NaN  2008
92        T       1        1.742994   NaN     200.0  2008
93        T       1        4.256800   NaN     680.0  2008
94        T       1        9.202050   NaN       NaN  2008
95        T       1        4.037896   NaN       NaN  2009
...     ...     ...             ...   ...       ...   ...
1030      T       1        3.941507   NaN     172.0  2006
1031      T       1        2.615864   NaN     148.0  2007
1032      T       1        3.191524   NaN     174.0  2007
1033      T       1        4.125083   NaN     293.0  2008
1034      T       1        4.187757   NaN     260.0  2008

[397 rows x 6 columns]

In [ ]:
# 4.1 Split the dataframe into smaller chunks (in this case they should have the same method name)
data1 = data[data['method'] == 'RV']
data2 = data[data['method'] == 'T']

In [ ]:
data1.count()

method            553
number            553
orbital_period    553
mass              510
distance          530
year              553
dtype: int64

In [ ]:
data2.count()

method            397
number            397
orbital_period    397
mass                1
distance          224
year              397
dtype: int64

In [ ]:
data.aggregate(['count'])

       method  number  orbital_period  mass  distance  year
count    1035    1035             992   513       808  1035

In [ ]:
# 5.1 Filter the data for given condition (in this case planet found in the last decade)
planet_2010 = data[data['year'] >= 2010]
planet_2010

       method  number  orbital_period  mass  distance  year
2          RV       1      763.000000  2.60     19.84  2011
9          RV       2      452.800000  1.99     74.79  2010
10         RV       2      883.000000  0.86     74.79  2010
20         RV       5        0.736540   NaN     12.53  2011
26         RV       1      691.900000   NaN     81.50  2012
...       ...     ...             ...   ...       ...   ...
1025        T       1        3.067850   NaN     60.00  2012
1026        T       1        0.925542   NaN    470.00  2014
1027  Imaging       1             NaN   NaN     19.20  2011
1028        T       1        3.352057   NaN   3200.00  2012
1029  Imaging       1             NaN   NaN     10.10  2012

[597 rows x 6 columns]

In [ ]:
# 5.2 Split (in this case across method)
planet_2010_RV = data[(data['year'] >= 2010) & (data['method'] == "RV")]
planet_2010_RV

    method  number  orbital_period  mass  distance  year
2       RV       1       763.00000  2.60     19.84  2011
9       RV       2       452.80000  1.99     74.79  2010
10      RV       2       883.00000  0.86     74.79  2010
20      RV       5         0.73654   NaN     12.53  2011
26      RV       1       691.90000   NaN     81.50  2012
..     ...     ...             ...   ...       ...   ...
914     RV       1         6.95800  0.34       NaN  2014
915     RV       1         5.11800  0.40       NaN  2014
916     RV       1       121.71000  1.54       NaN  2014
939     RV       1         4.42640   NaN       NaN  2012
940     RV       1         2.14510   NaN       NaN  2012

[215 rows x 6 columns]

In [ ]:
planet_2010_T = data[(data['year'] >= 2010) & (data['method'] == "T")]
planet_2010_T

     method  number  orbital_period  mass  distance  year
99        T       1        6.212290   NaN     380.0  2010
101       T       1       13.240600   NaN     345.0  2010
102       T       1        2.994330   NaN     560.0  2010
103       T       1        2.828042   NaN    1150.0  2010
104       T       1        4.035190   NaN    1060.0  2010
...     ...     ...             ...   ...       ...   ...
1023      T       1        2.175176   NaN     550.0  2012
1024      T       1        3.662387   NaN     240.0  2012
1025      T       1        3.067850   NaN      60.0  2012
1026      T       1        0.925542   NaN     470.0  2014
1028      T       1        3.352057   NaN    3200.0  2012

[335 rows x 6 columns]

In [ ]:
# 5.3 Apply (in this case just count)
planet_2010_RV.count()

method            215
number            215
orbital_period    215
mass              189
distance          200
year              215
dtype: int64

In [ ]:
planet_2010_T.count()

method            335
number            335
orbital_period    335
mass                1
distance          180
year              335
dtype: int64

In [ ]:
#Aggregate (to represent the final result)
planet_2010.aggregate(['count', 'min', 'max', 'average'])

                            method      number  ...  distance         year
count                          597  597.000000  ...    416.00   597.000000
min                     Astrometry    1.000000  ...      1.35  2010.000000
max      Transit Timing Variations    7.000000  ...   7720.00  2014.000000
average                        NaN    2.008375  ...       NaN  2011.720268

[4 rows x 6 columns]